:root{
    --cor1: #feb2b2;
    --cor2: #ff1493;
    --cor3: #c71585;
    --cor4: #ffd700;
    --cor5: #f0e68c;
    --cor6: #98d0c7;
    --cor7: #fa7f7f;


}


#ooo{
    margin: 0px;
        display: flex;
            justify-content: center;
}

#div000{
    background-color: var(--cor1);
        border: solid 2px black;
            margin: 0px;
                width: 100%;
                    height: 941px;
                        

                        

}

.div111999{
    background-color: var(--cor6);
        width: 90%;
            height: 80px;
                margin: auto;
                    display: flex;
                        text-align: center;
                            margin-bottom: 20px;
                                
                            



}

#menu000{
    width: 90%;
         display: flex;
            justify-content: center; /* centraliza na horizontal */
                align-items: center; 

}

#menu111{
    display: flex;
        gap: 10px;
           

}

.menu234{
    
        list-style: none;
            border: solid 1px black;
                padding: 10px;

}

.menu234:hover{
    background-color: var(--cor3);
        transition: 0.5s;
            border: none;

}

.menu999{
    text-decoration: none;

}

#carrossel{
    border: solid 2px black;
        width: 90%;
            height: 300px;
 
}

#telefone{
    width: 100%;
        height: 300px;

}

.celular0-1{
    width: 100%;
        height: 123px;


}

#uuu{
    background-color: var(--cor7);
        width: 90%;
            margin-top: 20px;
                height: 350px;
           
}

#Gallery{
    color: rgb(255, 255, 255);


}

.imagem1{
    border: solid 1px black;
        background-color: white;
            width: 23%;
                height: 123px;
                    margin-left: 20px;
                        margin-bottom: 10px;
                            

}

.imagem2{
    border: solid 1px black;
        background-color: white;
             width: 23%;
                height: 123px;
                    margin-left: 20px;


}

#paragrafo{


}

#cola{
    margin: 15px;
        width: 50px;
            height: 50px;
}




